#nav-bar{
    list-style-type: none;
    display: flex;
    justify-content: right;
    margin-top:10px;
}

#container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 19vh;
}

footer{
    display: flex;
    flex-direction: column;
    margin-top:50vh;
}

#footer-bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-bar-left{
    display: flex;
    flex-direction: row;
}

#footer-bar-right{
    display: flex;
    flex-direction: row;
}