#nav-bar{
    list-style-type: none;
    display: flex;
    justify-content: right;
}

#container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25vh;
}